<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  <header class="sheet-header vsd-header">
    <div class="vsd-header-grid">

      <div class="vsd-field vsd-field-portrait">
        <img class="profile-img vsd-portrait" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
      </div>

      <div class="vsd-field vsd-field-character">
        <label>Character</label>
        <input name="name" type="text" value="{{actor.name}}" />
      </div>

      <div class="vsd-field vsd-field-xp">
        <label>XP</label>
        <input name="system.advancement.xp" type="number" value="{{system.advancement.xp}}" data-dtype="Number" />
      </div>

      <div class="vsd-field vsd-field-level">
        <label>Level</label>
        <input name="system.attributes.level.value" type="number" value="{{system.attributes.level.value}}"
          data-dtype="Number" />
      </div>

      <div class="vsd-field vsd-field-culture">
        <label>Culture</label>
        <input name="system.details.culture" type="text" value="{{system.details.culture}}" />
      </div>

      <div class="vsd-field vsd-field-kin">
        <label>Kin</label>
        <input name="system.details.kin" type="text" value="{{system.details.kin}}" />
      </div>

      <div class="vsd-field vsd-field-vocation">
        <label>Vocation</label>
        <input name="system.details.vocation" type="text" value="{{system.details.vocation}}" />
      </div>

      <div class="vsd-field vsd-field-motivation">
        <label>Motivation</label>
        <input name="system.details.motivation" type="text" value="{{system.details.motivation}}" />
      </div>

      <div class="vsd-field vsd-field-nature">
        <label>Nature</label>
        <input name="system.details.nature" type="text" value="{{system.details.nature}}" />
      </div>

      <div class="vsd-field vsd-field-allegiance">
        <label>Allegiance</label>
        <input name="system.details.allegiance" type="text" value="{{system.details.allegiance}}" />
      </div>
    </div>
  </header>


  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="features">Features</a>
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="items">Items</a>
    <a class="item" data-tab="spells">Spells</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Features Tab --}}
    <div class="tab features" data-group="primary" data-tab="features">
      <section class="grid grid-3col">
        <aside class="sidebar">

          {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
          use both the "grid" and "grid-Ncol" class where "N" can be any number
          from 1 to 12 and will create that number of columns. --}}
          <div class="abilities flexcol">
            {{#each system.abilities as |ability key|}}
            <div class="ability flexrow flex-group-center">
              <label for="system.abilities.{{key}}.value" class="resource-label rollable flexlarge align-left"
                data-roll="d20+@abilities.{{key}}.mod"
                data-label="{{localize (lookup @root.config.abilities key)}}">{{localize (lookup @root.config.abilities
                key)}}</label>
              <input type="text" name="system.abilities.{{key}}.value" value="{{ability.value}}" data-dtype="Number" />
              <span class="ability-mod rollable" data-roll="d20+@abilities.{{key}}.mod"
                data-label="{{localize (lookup @root.config.abilities key)}}">{{numberFormat ability.mod decimals=0
                sign=true}}</span>
            </div>
            {{/each}}
          </div>
        </aside>

        {{!-- For the main features list, span the right two columns --}}
        <section class="main grid-span-2">
          {{!-- This is a Handlebars partial. They're stored in the `/parts` folder next to this sheet, and defined in
          module/helpers/templates.mjs --}}
          {{> "systems/vsd-system/templates/actor/parts/actor-features.hbs"}}
        </section>

      </section>
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{!-- Editors must receive enriched text data from getData to properly handle rolls --}}
      {{editor enrichedBiography target="system.biography" engine="prosemirror" button=true editable=editable}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
      {{> "systems/vsd-system/templates/actor/parts/actor-items.hbs"}}
    </div>

    {{!-- Owned Spells Tab --}}
    <div class="tab spells" data-group="primary" data-tab="spells">
      {{> "systems/vsd-system/templates/actor/parts/actor-spells.hbs"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/vsd-system/templates/actor/parts/actor-effects.hbs"}}
    </div>

  </section>
</form>